body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
}

.item {
  border: 1px solid black;
 
}

.item-1 {
  background-color: #ff0001;
}

.item-2 {
  background-color: #008001;
}

.item-3 {
  background-color: #fe4501;
}

.item-4 {
  background-color: #80017f;
}

.item-5 {
  background-color: #ff1595;
}

.item-6 {
  background-color: #0101fe;
}

.item-7 {
  background-color: #a52a2b;
}

.item-8 {
  background-color: #ee82ef;
}

.item-9 {
  background-color: #4b0081;
}

.item-10 {
  background-color: #fed700;
}

.item-11 {
  background-color: #609da0;
}

.item-12 {
  background-color: #01fffe;
}
